*{
    padding: 0;
    margin: 0;
}
h1, h2, h3, p {
    margin: 10px 0; /* márgenes arriba y abajo */
    padding: 0;
}



body{
    background-color: #543b01a1;
}


.header {
  background-image: url('/resources/assets/header.png'); /* ← pon aquí la ruta de tu imagen */
  background-size: cover;      /* hace que cubra todo el header */
  background-position: center; /* centra la imagen */
  height: 350px;               /* puedes ajustar la altura */
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(49, 37, 11);
  text-align: center;
  box-shadow: 20px 20px 20px rgba(0,0,0,0.4);
}



.header h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  letter-spacing: 2px;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.6);
  text-transform: uppercase;
  animation: aparecer 2s ease-in-out;
}


/* Contenido */
.precios {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  /*permite varias filas si no caben*/ 
    gap: 20px;
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
}



/* Cards generales */
.card-precio {
    flex: 1;
    width: 300px;           /* ancho uniforme para todas */
    text-align: center;
    border: dotted 10px rgb(252, 248, 213);
    border-radius: 100px;
    padding: 20px;
    background-color: rgba(218, 198, 131, 0.664);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-size: 20px;
}

/* Hover */
.card-precio:hover {
    transform: scale(1.10); /* agranda un 5% */
    background-color: rgba(144, 96, 19, 0.85); 
    cursor: pointer;
}



/*logo de los animales*/
.card-precio i {
    font-size: 40px;
    color: #ffffff;
}



.titulos{
    background: linear-gradient(-20deg, #543804, #e4bd86, #e8c29c, #462e06);
    color: rgb(49, 37, 11);
    height:50px;
    justify-content: center;  /* Centra horizontalmente */
    align-items: center;  /* centra verticalmente */
    display: flex;
    background-color: antiquewhite;
  
}



/* Sección información del hotel*/
.hotel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  /*permite varias filas si ni caben*/ 
    box-sizing: border-box;
    gap: 20px;
    padding: 30px;
    height: 350px;   
 
}


.card-hotel, .card-servicio {
    flex:1;
    border: solid 3px #221b03;
    border-radius: 10px;
    padding: 20px;
    background-color: #f9e8c7f6;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.mascotas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  /*permite varias filas si ni caben*/ 
    box-sizing: border-box;
    gap: 20px;
    padding: 30px;
    height: 9%;
}

.card-mascota, .card-informacion-mascota {
    width: 100%;
    border: solid 4px #221b03;
    border-radius: 10px;
    padding: 20px;
    background-color: #f9e8c7f6;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}






@keyframes aparecer {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

