

body{
    background-color: #085347;
}

.header{
    background: linear-gradient(-20deg, #553d0c, #d4a611, #735a08, #553d0c);
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 10px 10px 15px rgba(146, 129, 0, 0.3);
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
}

.header h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}


/* Contenido */
.precios {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  /*permite varias filas si no caben*/ 
    gap: 20px;
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
}



/* Cards generales */
.card-precio {
    flex: 1;
    width: 300px;           /* ancho uniforme para todas */
    text-align: center;
    border: dotted 10px rgb(252, 248, 213);
    border-radius: 100px;
    padding: 20px;
    background-color: rgba(218, 198, 131, 0.664);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-size: 20px;
}

/* Hover */
.card-precio:hover {
    transform: scale(1.10); /* agranda un 5% */
    background-color: rgba(218, 198, 131, 0.85); 
    cursor: pointer;
}



/*logo de los animales*/
.card-precio i {
    font-size: 40px;
    color: #ffffff;
}



.titulos{
    background: linear-gradient(-20deg, #bbad93, #d4a611, #735a08, #dfd6c6);
    color: white;
    justify-content: center;
    display: flex;
    background-color: antiquewhite;
    border-radius: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}



/* Sección información del hotel*/
.hotel {
    display: flex;
    border-radius: 50px;
    justify-content: center;
    flex-wrap: wrap;  /*permite varias filas si ni caben*/ 
    background-color: #fff9ca;
    box-sizing: border-box;
    gap: 20px;
    padding: 30px;
    height: 500px;   
 
}


.card-hotel, .card-servicio {
    flex:1;
    border: dotted 6px #221b03;
    border-radius: 10px;
    padding: 20px;
    background-color: #274b425f;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.mascotas{
    display: flex;
    border-radius: 50px;
    justify-content: center;
    flex-wrap: wrap;  /*permite varias filas si ni caben*/ 
    background-color: #fff9ca;
    box-sizing: border-box;
    gap: 20px;
    padding: 30px;
    height: 9%;
}

.card-mascota, .card-informacion-mascota {
    width: 100%;
    border: dotted 6px #221b03;
    border-radius: 10px;
    padding: 20px;
    background-color: #274b425f;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}








