
.header{
    text-align: center;
    background-color: #115c56;
    color:  white;
    border-radius: 30px;
    height: 60px;
    margin-bottom: 20px;
}

.hotel {
    border: solid 4px;
    border-color: #4a90e2;
    border-radius: 10px;
    padding: 25px 20px;
    margin-bottom: 20px;
    background-color: #f0f8ff;
}


.servicio {
    border: solid 4px;
    border-color: #e94e77;
    background-color: #fff0f3;
    width: 300px;
    height: 300px;
}

