body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h4 {
    color: #333;
    margin-top: 30px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
    border: 1px solid #e4dddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #0175f1;
    color: white;
}

tr {
    background-color: #f8f1f1;
}

p {
    font-size: 16px;
    color: #555;
}

.title {
    background-color: aqua;
}

.tempMax {
    background-color: #ff9999; 
    font-weight: bold;
    color: #900; 
}

.tempMin {
    background-color: #cce5ff; 
    font-weight: bold;
    color: #004085;
}